# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Environment variables
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build directories
build/
dist/

# ENV
myenv/
